
body {
  font-family: $roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* supprime les effets des élements déja cliqués */
a {
  text-decoration: none;
  color: initial;
}


.header {
    width: 100%;
    height: 3rem;
    @include flex(row, center, center);
    margin: auto;
    position: relative;
   /* icone flèche du header*/
    i {
      font-size: 1.2rem;
      position: absolute;
      bottom: 30%;
      left: 3%;
    }
  }
  .header__logo {
    width: 10.3rem;
    height: 1.7rem;
    cursor: pointer;
    padding-top: 0.6rem;
  }

/* sous header des pages menus avec une image */
.header__menu {
  width: 100%;

  &__picture img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 426px) {
  .header__menu__picture img {
    height: 17rem;
  }
}

/* titre du restaurant + coeur animé */
.header__menu__title {
  font-family: $shrikhand;
  border-radius: 2rem 2rem 0 0;
  background-color: $fond-lightgrey;
  @include flex(row, space-between, center);
  padding: 1rem 0 0 1rem;
  transform: translate(0, -40%);

  h1 {
    font-size: 1.5rem;
  }
}

.like__heart i {
  padding: 2rem 1.5rem 0 0;
  margin-bottom: -0.7rem;
}

/* section  entrees-plats-desserts + vignettes + boutton commander */
section{
  position: relative;
  h2{
      font-size: 15px;
      font-weight: normal;
      padding-left: 20px;
  }
  /* Tiret Vert sous le titre */
  .cat_title{
    font-weight: 300;
    font-size: 1rem;
    border-bottom: solid $mint;
    width: 2.5rem;
    margin-left: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
      
        
      }
  }

  /* Btn radio choix des plats */
  .btn-choice{
      display: block;
      position: absolute;
      padding: 0px;
      margin: 0px;
      cursor: pointer;
      height: 72px;
      width: 90%;
      z-index: 5;
      opacity: 0;
      border-radius: 10px;
      border: 1px solid black;

  }
  input[type=radio]{
      display: none;
  }
  input:checked{
      & ~ .price{
          transform: translate(-200%, 0); 
      }
      & ~ .progress{
          transform: scaleX(1);
      }
      & ~ .text_menu{
          .menu_title, .menu_description{
              width: 200px;
          }
          
      }
  }
   
  article{
      box-shadow: 1px 1px 10px rgb(200, 200, 200);
      background-color: white;
      width: 90%;
      border: 1px none black;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 25px auto;
      & > .price{
          transition: all 400ms linear;
          
      }
      
      
      & > .progress{
          transition: all 400ms linear;   
      }
      
      &:hover {
          & > .progress{
              & > i{
                  /* transform: rotate(1turn); */
                  animation: rotate_circle 400ms 200ms;
                  
              }
              transform: scaleX(1); 
          }
          & > .price{
              transform: translate(-200%, 0); 
              
          }
          .menu_title, .menu_description{
              width: 200px;
          }
          
      }
      
      .progress{
          background-color: $mint;
          border: 1px none black;
          border-radius: 0px 10px 10px 0px;
          width: 15%;
          transform: scaleX(0);
          transform-origin: 100% 100%;
          i{
              color: white;
              position: relative;
              left: calc(50% - 12px);
              top: calc(50% - 12px);
              font-size: 25px;
              transition: all 400ms linear;
          }
      }
      
      
      .text_menu{
          margin-left: 10px;
          color: black;
          
          .menu_title{
              margin-bottom: -10px;
              font-weight: bold;
              font-size: 16px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0px;
          }
          .menu_description{
              font-size: 13px;
              transition: all 400ms linear;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              

              
          }
      }
      .price{
          margin: 40px 25px 0px 0px;
          color: black;
          font-weight: bold;
          font-size: 14px;
          position: absolute;
          left: 90%;
          
      }
     
      

      &:nth-child(2) {
        opacity: 0;
        animation: _progress 1s 100ms forwards;
      }
    
      &:nth-child(3) {
        opacity: 0;
        animation: _progress 1s 300ms forwards;
      }
    
      &:nth-child(4) {
        opacity: 0;
        animation: _progress 1s 500ms forwards;
      }
    
      &:nth-child(5) {
        opacity: 0;
        animation: _progress 1s 700ms forwards;
      }
    
      }
      
  
  @media screen and (min-width: 768px) {
        
 
    section{
        input:checked{
            & ~ .price{
                transform: translate(-400%, 0); 
            }
            & ~ .progress{
                transform: scaleX(1);
            }
            & ~ .text_menu{
                .menu_title, .menu_description{
                    width: 400px;
                }
                
            }
        }
        article{
            .price{
                left: 90%;
            }
            &:hover{
                & > .price{
                    transform: translate(-400%, 0);
                }
                .menu_title, .menu_description{
                    width: 400px;
                }
            }
        }
    }
   
}
/* Desktop */
@media screen and (min-width: 1024px) {
  
    .group_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        section{
            .tiret_vert{
                top: 35px;
            }
            width: 30%;
            input:checked{
                & ~ .price{
                    transform: translate(-175%, 0); 
                }
                & ~ .progress{
                    transform: scaleX(1);
                }
                & ~ .text_menu{
                    .menu_title, .menu_description{
                        width: 185px;
                    }
                    
                }
            }
            article{
                width: 100%;
                &:hover{
                    .menu_title, .menu_description{
                        width: 185px;
                    }
                    & > .price{
                        transform: translate(-195%, 0); 
                    }
                    & > .progress{
                        
                        transform: scaleX(1); 
                    }
                }
            }
        }
    }
  
}
@media screen and (min-width: 1024px){
  
    .group_menu{
        
        section{
            input:checked{
                & ~ .price{
                    transform: translate(-250%, 0); 
                }
                & ~ .progress{
                    transform: scaleX(1);
                }
                & ~ .text_menu{
                    .menu_title, .menu_description{
                        width: 100%;
                    }
                    
                }
            }
            article{
                &:hover{
                    .menu_title, .menu_description{
                        width: 100%;
                    }
                    & > .price{
                        transform: translate(-250%, 0); 
                    }
                    & > .progress{
                        
                        transform: scaleX(1); 
                    }
                }
            }
        }
    }
    
}
  
  /* anime apparition */

  

